{% load static %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Lista de Empleados{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
</head>
<body>
  <h1>{% block heading %}Empleados{% endblock %}</h1>
  
  <p>Selecciona una categoría de empleados que quiera agregar:</p>

  <ul>
    <li><a href="{% url 'encargados' %}">Encargados</a></li>
    <li><a href="{% url 'subencargados' %}">Subencargados</a></li>
    <li><a href="{% url 'mostradores' %}">Mostradores</a></li>
  </ul>

  <form method="get" action="{% url 'busqueda' %}">
    <input type="text" name="q" placeholder="Buscar empleados">
    <button type="submit">Buscar</button>
  </form>

  <form method="get" action="{% url 'mostrarempleados' %}">
    <button type="submit">Mostrar Todos </button>
  </form>

  {% block content %}{% endblock %}

  <!-- Formulario de Registro -->
  <h2>Registro de Usuario</h2>
  <form method="post" action="{% url 'registro' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
  </form>

</body>
</html>
