{% extends 'base.html' %}

{% block content %}
  <h2>Lista de Empleados</h2>
  
  <p>Encargados:</p>
  {% for encargado in encargados %}
    <p>
      {{ encargado.Nombre }} - {{ encargado.empleo }} - 
      {% if encargado.creador == user %}
        <a href="{% url 'eliminar_empleado' encargado.id %}">Eliminar</a>
        <a href="{% url 'editar_empleado' encargado.id %}">Editar</a>
      {% endif %}
    </p>
  {% endfor %}

  <p>Subencargados:</p>
  {% for subencargado in subencargados %}
    <p>
      {{ subencargado.Nombre }} - {{ subencargado.empleo }} - 
      {% if subencargado.creador == user %}
        <a href="{% url 'eliminar_empleado' subencargado.id %}">Eliminar</a>
        <a href="{% url 'editar_empleado' subencargado.id %}">Editar</a>
      {% endif %}
    </p>
  {% endfor %}

  <p>Mostradores:</p>
  {% for mostrador in mostradores %}
    <p>
      {{ mostrador.Nombre }} - {{ mostrador.empleo }} - 
      {% if mostrador.creador == user %}
        <a href="{% url 'eliminar_empleado' mostrador.id %}">Eliminar</a>
        <a href="{% url 'editar_empleado' mostrador.id %}">Editar</a>
      {% endif %}
    </p>
  {% endfor %}
{% endblock %}
